# Q1. Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\hema\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hema\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hema\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\hema\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: idna in c:\users\hema\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: cffi>=1.14 in c:\users\hema\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sortedcontainers in c:\users\hema\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hema\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: outcome in c:\users\hema\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hema\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\hema\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\hema\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hema\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hema\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\hema\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hema\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hema\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\hema\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hema\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install webdriver_manager

Requirement already satisfied: webdriver_manager in c:\users\hema\anaconda3\lib\site-packages (3.5.4)
Requirement already satisfied: requests in c:\users\hema\anaconda3\lib\site-packages (from webdriver_manager) (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hema\anaconda3\lib\site-packages (from requests->webdriver_manager) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\hema\anaconda3\lib\site-packages (from requests->webdriver_manager) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hema\anaconda3\lib\site-packages (from requests->webdriver_manager) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hema\anaconda3\lib\site-packages (from requests->webdriver_manager) (2.10)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

import warnings
warnings.filterwarnings('ignore')
import time

In [2]:
#lets first connect to the web driver
driver = webdriver.Chrome("C:\\Users\\hema\\OneDrive\\Documents\\chromedriver_win32\\chromedriver.exe")

In [3]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [5]:
#driver.close()

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
#finding thte element for job search bar

designation_field =driver.find_element_by_class_name("suggestor-input")
designation_field.send_keys("Data Analyst")

location_field = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
location_field.send_keys("Bangalore")

In [6]:
search_field =driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_field.click()

In [7]:
#specifying the url of the webpage to be scrapped
url = "https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [8]:
#open the webpage using web drive
driver.get(url)

In [9]:
job_titles=[]
location_list =[]

In [10]:
# lets extract all the tags having the job-titles
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")    
titles_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="7eb5dcc44dbed966923c0c79b530e176", element="326fe43a-a768-4f11-87ea-428ca119bc7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7eb5dcc44dbed966923c0c79b530e176", element="e0bd718f-0623-4308-8388-67043c4728a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7eb5dcc44dbed966923c0c79b530e176", element="f17074d0-e662-4f45-9f65-b2f2a669e41e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7eb5dcc44dbed966923c0c79b530e176", element="7700d85b-130e-47ed-8874-97b500d9349a")>]

In [11]:
for i in titles_tag:
    titles=i.text
    job_titles.append(titles)
job_titles[0:4]

['Business and Data Analyst',
 'SAS Analyst / data Analyst / Business analyst - Sas + SQL',
 'Data Analyst I',
 'Senior Data Analyst']

In [12]:
jobs =pd.DataFrame({})
jobs['title'] =job_titles

In [13]:
jobs.head(10)

                                               title
0                          Business and Data Analyst
1  SAS Analyst / data Analyst / Business analyst ...
2                                     Data Analyst I
3                                Senior Data Analyst
4              Senior Data Analyst, Data & Analytics
5  Hiring - Zonal Data Analyst (Off Role) - Opera...
6                                Senior Data Analyst
7                    Sr Domain Expert -Data Analysts
8                                    Data Analyst Sr
9                                    Data Analyst II

# Q2. write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [14]:
job_list=[]
location_list=[]
company_name_list=[]

In [15]:
# lets extract all the tags having the locations
job_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")    
job_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="7eb5dcc44dbed966923c0c79b530e176", element="326fe43a-a768-4f11-87ea-428ca119bc7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7eb5dcc44dbed966923c0c79b530e176", element="e0bd718f-0623-4308-8388-67043c4728a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7eb5dcc44dbed966923c0c79b530e176", element="f17074d0-e662-4f45-9f65-b2f2a669e41e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7eb5dcc44dbed966923c0c79b530e176", element="7700d85b-130e-47ed-8874-97b500d9349a")>]

In [16]:
for l in job_tag:
    job=l.text
    job_list.append(job)
job_list[0:4]

['Business and Data Analyst',
 'SAS Analyst / data Analyst / Business analyst - Sas + SQL',
 'Data Analyst I',
 'Senior Data Analyst']

In [17]:
# lets extract all the tags having the locations
location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")    
location_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="7eb5dcc44dbed966923c0c79b530e176", element="ff6b916d-e093-4917-afe2-a822b6acbcec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7eb5dcc44dbed966923c0c79b530e176", element="b9bd630a-951d-4161-a73a-c26e28ff9396")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7eb5dcc44dbed966923c0c79b530e176", element="7c977d80-d7b4-411c-b51a-296675c8824d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7eb5dcc44dbed966923c0c79b530e176", element="c1536b16-295f-42f9-a609-9db58dbbf037")>]

In [18]:
for k in location_tag:
    location=k.text
    location_list.append(location)
location_list[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [19]:
# lets extract all the tags having the company names
company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")    
company_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="7eb5dcc44dbed966923c0c79b530e176", element="54533c71-8ba8-4986-9b1a-dc5710b22274")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7eb5dcc44dbed966923c0c79b530e176", element="f859206d-ab2e-4758-93c6-5498cbdc483d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7eb5dcc44dbed966923c0c79b530e176", element="b7c27dbf-fa43-43fc-a7ac-4f5ba9d834e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7eb5dcc44dbed966923c0c79b530e176", element="7c6cac9a-600a-4c3c-bbc3-690a84ccf68a")>]

In [20]:
for j in company_tag:
    company=j.text
    company_name_list.append(company)
company_name_list[0:4]

['CAREERDOST ENTERPRISE',
 'Leading US MNC into analytics',
 'Bioclinica',
 'Shell']

In [21]:
print(len(job_list),len(location_list),len(company_name_list))

20 20 20

In [22]:
df2 =pd.DataFrame({})
df2['title'] =job_list
df2['Location']=location_list
df2['Company_Name']=company_name_list

In [46]:
df2.head(10)

,title,Location,Company_Name
0,Sr Domain Expert -Data Analysts,Bangalore/Bengaluru,Siemens
1,Senior Data Analyst,Bangalore/Bengaluru,Walmart
2,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),FINNOVATION TECH SOLUTIONS PRIVATE LIMITED
3,Data Analyst / Data Engineer,"Indore, Pune, Bangalore/Bengaluru",TALENT MAX HR & MANAGEMENT CONSULTANTS
4,Senior Data Analyst (Digital Services Analytics),Bangalore/Bengaluru,Dell Technologies
5,Business Analyst/Data Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Telamon HR Solutions
6,Senior Data Analyst - KPO,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd
7,Senior Data Analyst,Bangalore/Bengaluru,Cerner
8,Data Analyst,Bangalore/Bengaluru,Enrich talents
9,Senior Data Analyst,"Chennai, Bangalore/Bengaluru",LatentView

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data

In [23]:
#lets first connect to the web driver
driver1 = webdriver.Chrome("C:\\Users\\hema\\OneDrive\\Documents\\chromedriver_win32\\chromedriver.exe")

In [24]:
driver1.get('https://www.naukri.com/')

In [25]:
#finding thte element for job search bar

desig_field =driver1.find_element_by_class_name("suggestor-input")
desig_field.send_keys("Data Analyst")

In [26]:
search_field1 =driver1.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_field1.click()

In [27]:
#specifying the url of the webpage to be scrapped
url= "https://www.naukri.com/data-analyst-jobs?k=data%20analyst"

In [28]:
#open the webpage using web drive
driver1.get(url)

In [29]:
salary= driver1.find_element_by_xpath("//span[@title='3-6 Lakhs']")
salary.click()

In [30]:
location=driver1.find_element_by_xpath("//span[@title='Delhi / NCR']")
location.click()

In [31]:
url="https://www.naukri.com/data-analyst-jobs?k=data%20analyst&ctcFilter=3to6&cityTypeGid=9508"

In [32]:
job_title = [] 
job_location = []
company_name = []
experience = []

In [33]:
job_tit=driver1.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")     
job_tit[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="f0d34808a5a81c9cd2ac8c752aae87aa", element="565d0df3-008f-4aeb-9bb7-2a0f940a8835")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f0d34808a5a81c9cd2ac8c752aae87aa", element="85f949e9-e5cf-4d9f-ade7-ce75983d416d")>]

In [34]:
for a in job_tit:
    tit1=a.text
    job_title.append(tit1)
job_title[0:2]

['Data Analyst',
 'Hiring - Zonal Data Analyst (Off Role) - Operations - Bangalore & Delh']

In [35]:
job_loc = driver1.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
job_loc[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="f0d34808a5a81c9cd2ac8c752aae87aa", element="b7e6452e-26e7-48a5-a065-4139fbd3fa1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f0d34808a5a81c9cd2ac8c752aae87aa", element="9ca51475-6b1c-4dfe-b9a8-8804eaadd725")>]

In [36]:
for x in job_loc:
    loc1=x.text
    job_location.append(loc1)
job_location[0:2]

['Gurgaon/Gurugram', 'New Delhi, Bangalore/Bengaluru']

In [37]:
comp = driver1.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="f0d34808a5a81c9cd2ac8c752aae87aa", element="3856dc7d-c85d-4605-8a9e-32ebfe4069a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f0d34808a5a81c9cd2ac8c752aae87aa", element="34098a4b-7214-4d07-8a59-3a2f9cd92038")>]

In [38]:
for y in comp:
    comp1=y.text
    company_name.append(comp1)
company_name[0:2]

['TOTAL MARKETING SUPPORT INDIA PRIVATE LIMITED', 'Rupeek']

In [39]:
exp = driver1.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi date']/span[1]")
exp[0:2]

In [40]:
for z in exp:
    exp1=z.text
    experience.append(exp1)
experience[0:2]

['03 May']

In [41]:
print(len(job_title),len(job_location),len(company_name),len(experience))

20 20 20 1

In [42]:
df3 =pd.DataFrame({})
df3['Job title'] =job_title
df3['Job Location']=job_location
df3['Company_Name']=company_name
#df3['Experience']= experience

In [43]:
df3.head(10)

,Job title,Job Location,Company_Name
0,Data Analyst,Gurgaon/Gurugram,TOTAL MARKETING SUPPORT INDIA PRIVATE LIMITED
1,Hiring - Zonal Data Analyst (Off Role) - Opera...,"New Delhi, Bangalore/Bengaluru",Rupeek
2,Job opportunity For the position of Financial ...,Gurgaon/Gurugram,NIRVANA SOLUTIONS INDIA PRIVATE LIMITED
3,Urgent opening For AM - Data Analyst Analytics...,Gurgaon/Gurugram,Pramerica Life
4,Hiring - Healthcare Data Analyst- US Healthcar...,Noida,KOZENT TEC PRIVATE LIMITED
5,Speech Analyst - Data Miner,"Gurgaon/Gurugram, Bangalore/Bengaluru",Concentrix Services India Private Limited.
6,Jeevansathi.com is hiring For Product Operatio...,Noida,Info Edge India
7,Sr . Data Analyst,Gurgaon/Gurugram,Also Energy
8,Data Analyst,Gurgaon/Gurugram,Redian Software Pvt Ltd
9,Data Analyst,Delhi / NCR(Ghitorni),IB Monotaro Private Limited

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual

In [44]:
#lets first connect to the web driver
driver4 = webdriver.Chrome("C:\\Users\\hema\\OneDrive\\Documents\\chromedriver_win32\\chromedriver.exe")

In [45]:
driver4.get('https://www.flipkart.com/')

In [46]:
#finding thte element for sunglass search

get_field =driver4.find_element_by_class_name("_3704LK")
get_field.send_keys("sunglasses")

In [47]:
search_field4 =driver4.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_field4.submit()

In [48]:
url4='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'

In [49]:
brand_name =[]
prod_des = []
price =[]

In [50]:
#scrap for the brand of the sunclasses

glass_brand=driver4.find_elements_by_xpath("//div[@class='_2WkVRV']")     
glass_brand[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="4442666212cb889f74dde6ff22812e4a", element="4db86c28-3fc2-47a5-b184-782f5cc5f105")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4442666212cb889f74dde6ff22812e4a", element="31b365fd-0017-47f1-8804-69d7f04beb7c")>]

In [51]:
for a in glass_brand:
    brand=a.text
    brand_name.append(brand)
brand_name[0:2]

['Elligator', 'Fastrack']

In [52]:
#scrap for the description of the sunclasses
glass_des = driver4.find_elements_by_xpath("//div[@class='_2WkVRV']")
glass_des[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="4442666212cb889f74dde6ff22812e4a", element="4db86c28-3fc2-47a5-b184-782f5cc5f105")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4442666212cb889f74dde6ff22812e4a", element="31b365fd-0017-47f1-8804-69d7f04beb7c")>]

In [53]:
for b in glass_des:
    des=b.text
    prod_des.append(des)
prod_des[0:2]

['Elligator', 'Fastrack']

In [54]:
#scrap the price for the sunglasses

glass_price=driver4.find_elements_by_xpath("//div[@class='_30jeq3']")     
glass_price[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="4442666212cb889f74dde6ff22812e4a", element="2a9643b6-d635-4ef9-8bd9-05913b08ce69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4442666212cb889f74dde6ff22812e4a", element="9e53eabc-75fd-4338-b3fa-ef02ba49351b")>]

In [55]:
for c in glass_price:
    val=c.text
    price.append(val)
price[0:2]

['₹245', '₹589']

In [56]:
print(len(brand_name),len(prod_des),len(price))

40 40 40

In [57]:
df4 =pd.DataFrame({})
df4['Brand name'] =brand_name
df4['product description']=prod_des
df4['Price']=price

In [58]:
start =0
end =4

for page in range(start,end):
    glass_brand=driver4.find_elements_by_xpath("//div[@class='_2WkVRV']")     
    glass_brand[0:2]
    
    for a in glass_brand:
        brand=a.text
        brand_name.append(brand)
    brand_name[0:2]

    glass_des = driver4.find_elements_by_xpath("//div[@class='_2WkVRV']")
    glass_des[0:2]
    
    for b in glass_des:
        des=b.text
        prod_des.append(des)
    prod_des[0:2]
    
    glass_price=driver4.find_elements_by_xpath("//div[@class='_30jeq3']")     
    glass_price[0:2]
    
    for c in glass_price:
        val=c.text
        price.append(val)
    price[0:2]
    
    nxt_button =driver4.find_elements_by_xpath("//a[@class='_1LKTO3']")
    
    try:
        driver4.get(nxt_button[1].get_attribute('href'))
    except:
        driver4.get(nxt_button[0].get_attribute('href'))

In [59]:
print(len(brand_name),len(prod_des),len(price))

200 200 200

In [60]:
df4 =pd.DataFrame({})
df4['Brand name'] =brand_name
df4['product description']=prod_des
df4['Price']=price

In [61]:
df4.head(100)

    Brand name product description   Price
0    Elligator           Elligator    ₹245
1     Fastrack            Fastrack    ₹589
2       PIRASO              PIRASO    ₹199
3     Fastrack            Fastrack    ₹597
4    New Specs           New Specs    ₹219
..         ...                 ...     ...
95      AISLIN              AISLIN  ₹1,248
96    Roadster            Roadster    ₹599
97  LIZA ANGEL          LIZA ANGEL    ₹159
98  Lee Topper          Lee Topper    ₹226
99       NuVew               NuVew    ₹205

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [62]:
#lets first connect to the web driver
driver5 = webdriver.Chrome("C:\\Users\\hema\\OneDrive\\Documents\\chromedriver_win32\\chromedriver.exe")

In [63]:
driver5.get('https:www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace/')

In [64]:
all_review = driver5.find_elements_by_xpath("//div[@class='_3UAT2v _16PBlm']")
all_review[0:2]

In [65]:
driver5.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

In [66]:
phone_rating =[]
phone_review_sum = []
phone_full_review =[]

In [67]:
rating =driver5.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']") 
rating[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="3b72d1f1a14334b5718288e91a119f8f", element="04f1daa7-d9c7-4b7f-b1fb-e221ecacc5e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b72d1f1a14334b5718288e91a119f8f", element="ef69a4a5-8e61-4259-8ba7-ea39107f468d")>]

In [68]:
for l in rating:
    rat=l.text
    phone_rating.append(rat)
phone_rating[0:2]

['5', '5']

In [69]:
review =driver5.find_elements_by_xpath("//p[@class='_2-N8zT']") 
review[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="3b72d1f1a14334b5718288e91a119f8f", element="ff9e8401-e57b-44db-900b-012eda5e1c45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b72d1f1a14334b5718288e91a119f8f", element="70df8244-dcc5-4db8-a34a-714033f2f58b")>]

In [70]:
for m in review:
    rev=m.text
    phone_review_sum.append(rev)
phone_review_sum[0:2]

['Brilliant', 'Simply awesome']

In [71]:
summ =driver5.find_elements_by_xpath("//div[@class='t-ZTKy']") 
summ[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="3b72d1f1a14334b5718288e91a119f8f", element="b598e706-c5ee-407a-aae8-1f99777bcdaf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b72d1f1a14334b5718288e91a119f8f", element="8b0f20ef-05dd-437b-b057-4b4f2ef8a60a")>]

In [72]:
for n in summ:
    su=n.text
    phone_full_review.append(su)
phone_full_review[0:2]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.']

In [73]:
start =0
end =6

for page in range(start,end):
    rating =driver5.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']") 
    rating[0:2]
    
    for l in rating:
        rat=l.text
        phone_rating.append(rat)
    phone_rating[0:2]

    review =driver5.find_elements_by_xpath("//p[@class='_2-N8zT']") 
    review[0:2]
    
    for m in review:
        rev=m.text
        phone_review_sum.append(rev)
    phone_review_sum[0:2]
    
    summ =driver5.find_elements_by_xpath("//div[@class='t-ZTKy']") 
    summ[0:2]
    
    for n in summ:
        su=n.text
        phone_full_review.append(su)
    phone_full_review[0:2]
    
    nxt_button =driver5.find_elements_by_xpath("//a[@class='_1LKTO3']")
    
    try:
        driver5.get(nxt_button[1].get_attribute('href'))
    except:
        driver5.get(nxt_button[0].get_attribute('href'))

In [74]:
print(len(phone_rating),len(phone_review_sum),len(phone_full_review))

69 70 70

In [75]:
df5 =pd.DataFrame({})
#df5['phone rating'] =phone_rating
df5['phone_review']=phone_review_sum
df5['phone full summary']=phone_full_review

In [77]:
df5.head(100)

           phone_review                                 phone full summary
0             Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
1        Simply awesome  Really satisfied with the Product I received.....
2   Best in the market!  Great iPhone very snappy experience as apple k...
3      Perfect product!  Amazing phone with great cameras and better ba...
4             Fabulous!  This is my first iOS phone. I am very happy wi...
..                  ...                                                ...
65          Pretty good  I was using Iphone 6s and also Oneplus 6t. Bot...
66    Terrific purchase  Its Very awesome product working and good came...
67              Awesome  I am using this phone for 5 days and its one o...
68       Classy product  Best and amazing product.....phone looks so pr...
69            Brilliant  Excellent camera and display touching very nic...

[70 rows x 2 columns]

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [78]:
#lets first connect to the web driver
driver6 = webdriver.Chrome("C:\\Users\\hema\\OneDrive\\Documents\\chromedriver_win32\\chromedriver.exe")

In [79]:
driver6.get('https:www.flipkart.com/')

In [80]:
get_field =driver6.find_element_by_class_name("_3704LK")
get_field.send_keys("sneakers")

In [81]:
search_field6 =driver6.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_field6.submit()

In [82]:
sneaker_brand =[]
sneaker_proddes=[]
sneaker_price=[]
sneaker_discount=[]

In [44]:
#scrap for the brand of the sneakers

brand=driver6.find_elements_by_xpath("//div[@class='_2WkVRV']")     
brand[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="660deb0e2f20c47087075e70188530fd", element="ed8c036f-5abe-41d3-8a3c-3f99b4774cd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="660deb0e2f20c47087075e70188530fd", element="32f630e6-51c4-4033-8a21-fe3e6803f036")>]

In [45]:
for d in brand:
    bran=d.text
    sneaker_brand.append(bran)
sneaker_brand[0:2]

['CLYMB', 'HRX by Hrithik Roshan']

In [46]:
description =driver6.find_elements_by_xpath("//div[@class='_2B099V']")
description[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="660deb0e2f20c47087075e70188530fd", element="35f7d3e7-fc9f-44b5-9233-adff8e9ef395")>,
 <selenium.webdriver.remote.webelement.WebElement (session="660deb0e2f20c47087075e70188530fd", element="b79c0211-68d1-425b-b126-9332b7a95a29")>]

In [47]:
for e in description:
    des=e.text
    sneaker_proddes.append(des)
sneaker_proddes[0:2]

["CLYMB\nPerfect Sports Shoes for Men's Running ,Cycling & Trekk...\n₹239₹99976% off\nFree delivery\nDeal of the Day",
 'HRX by Hrithik Roshan\nSneakers For Men\n₹2,149₹2,99928% off\nFree delivery']

In [48]:
price =driver6.find_elements_by_xpath("//div[@class='_30jeq3']")
price[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="660deb0e2f20c47087075e70188530fd", element="06a7be3f-e02d-41d3-9a57-b214da7fc0e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="660deb0e2f20c47087075e70188530fd", element="3671431c-8971-49ff-9e57-3e1631aeb1db")>]

In [49]:
for f in price:
    pri=f.text
    sneaker_price.append(pri)
sneaker_price[0:2]

['₹239', '₹2,149']

In [50]:
discount=driver6.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="660deb0e2f20c47087075e70188530fd", element="7b31c037-e0d2-4d88-ad19-698f2b1981fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="660deb0e2f20c47087075e70188530fd", element="7c78d47a-f6e9-41c0-a973-3a752a4c0d3e")>]

In [51]:
for g in discount:
    dis=g.text
    sneaker_discount.append(dis)
sneaker_discount[0:2]

['76% off', '28% off']

In [83]:
start =0
end =6

for page in range(start,end):
    
    brand=driver6.find_elements_by_xpath("//div[@class='_2WkVRV']")     
    brand[0:2]
    
    for d in brand:
        bran=d.text
        sneaker_brand.append(bran)
    sneaker_brand[0:2]

    description =driver6.find_elements_by_xpath("//div[@class='_2B099V']")
    description[0:2]
    
    for e in description:
        des=e.text
        sneaker_proddes.append(des)
    sneaker_proddes[0:2]
    
    price =driver6.find_elements_by_xpath("//div[@class='_30jeq3']")
    price[0:2]
    
    for f in price:
        pri=f.text
        sneaker_price.append(pri)
    sneaker_price[0:2]
    
    discount=driver6.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    discount[0:2]
    
    for g in discount:
        dis=g.text
        sneaker_discount.append(dis)
    sneaker_discount[0:2]
    
    nxt_button =driver6.find_elements_by_xpath("//a[@class='_1LKTO3']")
    
    try:
        driver6.get(nxt_button[1].get_attribute('href'))
    except:
        driver6.get(nxt_button[0].get_attribute('href'))

In [8]:
print(len(sneaker_brand),len(sneaker_proddes),len(sneaker_price),len(sneaker_discount))

240 240 240 240

In [86]:
df6 =pd.DataFrame({})
df6['Sneaker Brand'] =sneaker_brand
df6['Sneaker Prod description']=sneaker_proddes
df6['Sneaker Price']=sneaker_price
df6['Sneaker Shoe Discount']=sneaker_discount

In [87]:
df6.head(100)

,Sneaker Brand,Sneaker Prod description,Sneaker Price,Sneaker Shoe Discount
0,HOTSTYLE,HOTSTYLE\nCR-1 Sneakers For Men\n₹253₹49949% o...,₹253,49% off
1,Numenzo,"Numenzo\n411 Casual Sneakers For Men\n₹449₹1,9...",₹449,77% off
2,URBANBOX,URBANBOX\nSneakers Sneakers For Men\n₹142₹9998...,₹142,85% off
3,aadi,aadi\nSneakers For Men\n₹349₹99965% off\nFree ...,₹349,65% off
4,corsac,corsac\nSTYLISH MENS BLACK SNEAKER Sneakers Fo...,₹424,71% off
...,...,...,...,...
95,mohliye,mohliye\nSneakers For Men\n₹249₹65962% off\nFr...,₹249,62% off
96,Zixer,"Zixer\nExclusive dancing shoe for boy�s, Funky...",₹549,57% off
97,Airland,Airland\nsneaker men red 1258 - 6 Sneakers For...,₹183,63% off
98,HOCKWOOD,HOCKWOOD\nStreet Smart Sneakers For Men\n₹695₹...,₹695,30% off
99,Nilatin,"Nilatin\nSneakers For Men\n₹424₹1,99978% off\n...",₹424,78% off

# Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [88]:
#lets first connect to the web driver
driver7 = webdriver.Chrome("C:\\Users\\hema\\OneDrive\\Documents\\chromedriver_win32\\chromedriver.exe")

In [89]:
driver7.get('https:www.myntra.com/shoes')

In [90]:
#location=driver1.find_element_by_xpath("//span[@title='Delhi / NCR']")
#location.click()

color= driver7.find_element_by_xpath("//span[@data-colorhex='black']")
color.click()

In [91]:
price= driver7.find_element_by_xpath("//span[@class='price-num']")
price.click()

In [92]:
url ='https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7187.0_14125.0_7187.0%20TO%2014125.0'

In [93]:
shoe_brand =[]
shoe_short_des =[]
shoe_price=[]

In [32]:
sh_bran=driver7.find_elements_by_xpath("//h3[@class='product-brand']")     
sh_bran[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e28fd9278bb3e813aa33c65407403a4d", element="e64f09f7-169d-4c00-bca7-1f0d8ae9ca17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e28fd9278bb3e813aa33c65407403a4d", element="86f1b4d6-80e7-4887-bdeb-b0778d6b517b")>]

In [33]:
for p in sh_bran:
    brands=p.text
    shoe_brand.append(brands)
shoe_brand[0:2]

['ALDO', 'Skechers']

In [10]:
sh_shoe_des =driver7.find_elements_by_xpath("//h4[@class='product-product']")
sh_shoe_des[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="a101501e6c29ab10b354db27b7d5bab2", element="eb551b36-e74e-412c-811d-f6cfc515d571")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a101501e6c29ab10b354db27b7d5bab2", element="9869a259-e0dc-480a-a26c-ed3e57b38e24")>]

In [11]:
for q in sh_shoe_des:
    desp=q.text
    shoe_short_des.append(desp)
shoe_short_des[0:2]

['Men Running Shoes', 'Men Walking Shoes']

In [12]:
shprice =driver7.find_elements_by_xpath("//div[@class='product-price']")
shprice[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="a101501e6c29ab10b354db27b7d5bab2", element="91b10447-4d0f-4a00-a133-22e9f441a31a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a101501e6c29ab10b354db27b7d5bab2", element="517edc3a-d872-4c62-a29d-ca9a46901b56")>]

In [13]:
for r in shprice:
    pric=r.text
    shoe_price.append(pric)
shoe_price[0:2]

['Rs. 2749Rs. 5499(50% OFF)', 'Rs. 1739Rs. 5799(70% OFF)']

In [94]:
start =0
end =2

for page in range(start,end):
    
    sh_bran=driver7.find_elements_by_xpath("//h3[@class='product-brand']")     
    sh_bran[0:2]
    
    for p in sh_bran:
        brands=p.text
        shoe_brand.append(brands)
    shoe_brand[0:2]

    sh_shoe_des =driver7.find_elements_by_xpath("//h4[@class='product-product']")
    sh_shoe_des[0:2]
    
    for q in sh_shoe_des:
        desp=q.text
        shoe_short_des.append(desp)
    shoe_short_des[0:2]
    
    shprice =driver7.find_elements_by_xpath("//div[@class='product-price']")
    shprice[0:2]
    
    for r in shprice:
        pric=r.text
        shoe_price.append(pric)
    shoe_price[0:2]
    
        
    nxt_button =driver7.find_elements_by_xpath("//li[@class='pagination-number']/a")
    
    try:
        driver7.get(nxt_button[1].get_attribute('href'))
    except:
        driver7.get(nxt_button[0].get_attribute('href'))

In [95]:
print(len(shoe_brand),len(shoe_short_des),len(shoe_price))

100 100 100

In [96]:
df7 =pd.DataFrame({})
df7['Shoe Brand'] =shoe_brand
df7['Shoe short description']=shoe_short_des
df7['Shoe price']=shoe_price

In [97]:
df7

        Shoe Brand          Shoe short description                 Shoe price
0             Puma               Men Running Shoes  Rs. 2749Rs. 5499(50% OFF)
1             Nike           Men MC Training Shoes                   Rs. 5495
2             Puma  Men HYBRID Fuego Running Shoes  Rs. 3249Rs. 6499(50% OFF)
3             Nike  LEGEND ESSENTIAL Training Shoe  Rs. 3820Rs. 4495(15% OFF)
4             ALDO           Men Textured Sneakers  Rs. 6999Rs. 9999(30% OFF)
..             ...                             ...                        ...
95        Skechers    Men Go Walk Max- Painted Sky  Rs. 4504Rs. 5299(15% OFF)
96      DressBerry            Women Solid Sneakers   Rs. 869Rs. 2899(70% OFF)
97        Provogue      Men Solid Horsebit Loafers   Rs. 849Rs. 4245(80% OFF)
98  Louis Philippe       Men Leather Driving Shoes  Rs. 2599Rs. 3999(35% OFF)
99           TRASE              Women Heeled Boots   Rs. 899Rs. 1999(55% OFF)

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [98]:
#lets first connect to the web driver
driver8 = webdriver.Chrome("C:\\Users\\hema\\OneDrive\\Documents\\chromedriver_win32\\chromedriver.exe")

In [99]:
driver8.get('https://www.amazon.in/')

In [100]:
#get_field =driver8.find_element_by_xpath("/html/body/div[2]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
#get_field.send_keys("laptop")


get_field =driver8.find_element_by_xpath("//input[@class='nav-input nav-progressive-attribute']")
get_field.send_keys("laptop")

In [101]:
#click on the search button
search_field =driver8.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']")
search_field.submit()

In [102]:
title_i7 =[]
Ratings=[]
price=[]

In [103]:
#scrapping data for intel cor i7

cpu_type= driver8.find_element_by_xpath("//span[text()='Intel Core i7']")
cpu_type.click()

In [104]:
core_i7_title = driver8.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

In [105]:
for a in core_i7_title:
    title=a.text
    title_i7.append(title)

In [58]:
title_i7

['Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7 EvoTM 15.6 inch Touchscreen 2-in-1 AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MSO Home & Student 2021/Graphite/1.41Kg), NP950QED-KA1IN',
 'Mi Notebook Ultra 3.2K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphic/Win 10/MS Office 21/Backlit KB/FP Sensor/1.7Kg)',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'HP Pavilion 14, 11th Gen Intel Core i7-16GB RAM/1TB SSD 14 inch(35.6 cm) Laptop/Intel Iris Xe Graphics/Backlit Keyboard/Alexa/B&O Audio/Fast Charge/FPR/Win 11/MS Office, 14-dv1029TU,Natural Silver',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'LG Gram 16 inches Intel Evo 11th Gen Core i7 Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.19 kg, 16Z90P-G.AH85A2, Black)',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'HP Pavilion 11th Gen Intel Core i7 Processor 15.6 inches FHD Gaming Laptop (16GB/512GB SSD/Windows 11/NVIDIA RTX 3050 Graphics/MS Office/ Shadow Black & Ultra Violet/2.23Kg), 15-dk2096TX',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 4GB Graphics, Gaming Laptop (8GB/512GB SSD/Windows 10/Eclipse Gray/2.3 Kg), FX566HC-HN093T',
 'Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen 39.62 cm (15.6") FHD IPS 250Nits Gaming Laptop (8GB/512GB SSD/Win10/NVIDIA GTX 1650 4GB GDDR6 Graphics/120Hz/Onyx Black/2.2Kg), 81Y4019EIN',
 '(Renewed) Dell E6410 Latitude 14 Inch Screen Laptop (Intel Core i7 - M620 /4 GB/120 GB SSD/Windows 7 Pro), Black',
 '(Refurbished) Dell Intel Core i7 7th Gen 14.Inch(35.6 cms) (1920 x 1080)FHD TOUCHSCREEN Laptop (16GB RAM/512GB SSD/Windows 10 Pro/MS Office/ Intel HD Integrated Graphics/1.18Kg,Black) Latitude E7480',
 "(Refurbished) HP EliteBook 820 G4 Laptop (CORE I5 7TH GEN/8GB/512GB SSD/WEBCAM/12.5'' TOUCH/WIN 10 PRO)",
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 4 GB Ram & 2TB SSD, 14.1 Inches (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 'ASUS ROG Zephyrus M16 GU603HE-KR051TS Intel i7-11800H/ RTX3050Ti-4GB/ 16GB / 1TB SSD / 16.0 inches FHD-144hz/ Backlit KB- 1 Zone RGB/ 90Wh/ Windows 10 Home / Office Home & Student 2019/ Black, 1.9kg',
 'ASUS ROG Zephyrus M16 (2022), 16-inch (40.64 cms) 2K QHD 165Hz/3ms, Core i7-12700H 12th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/1TB SSD/Win 11/Office 2021/Black/2 Kg), GU603ZM-K8035WS',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 4 GB Ram & 512 GB SSD, 14.1 inches Touch Screeen (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 4 GB Ram & 1TB SSD, 14.1 Inches (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 8 GB Ram & 2TB SSD, 14.1 inches Touch Screeen (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 8 GB Ram & 2TB SSD, 14.1 Inches (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 'Dell Inspiron 2-in-1 13.3" 4K UHD IPS LED-Backlight Touch-Screen Laptop, Intel Quad-Core i7-8565U Up to 4.6GHz, 16GB DDR4, 256GB PCIe SSD, Fingerprint Reader, USB 3.1-C, Backlit Keyboard, Windows 10',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 8 GB Ram & 512 GB SSD, 14.1 Inches (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 8 GB Ram & 128 GB SSD, 14.1 inches Touch Screeen (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 4 GB Ram & 256 GB SSD, 14.1 inches Touch Screeen (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 8 GB Ram & 256 GB SSD, 14.1 Inches (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 8 GB Ram & 256 GB SSD, 14.1 inches Touch Screeen (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 4 GB Ram & 1TB SSD, 14.1 inches Touch Screeen (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 4 GB Ram & 512 GB SSD, 14.1 Inches (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 'Dell Alienware x15 R1 (2021) i7-11800H Gaming Laptop, 32GB, 1TB SSD, Win 11 + MSO\'21, NVIDIA RTX 3070 8GB, 15.6" (39.62 cms) FHD 300 nits 360Hz, Backlit KB + Alien FX, Lunar Light (D569933WIN9)',
 'ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 11/Gray/2.2 Kg), FX507ZE-HN038W']

In [106]:
core_i7_price = driver8.find_elements_by_xpath("//span[@class='a-price']")

In [107]:
for b in core_i7_price:
    pric=b.text
    price.append(pric)

In [17]:
price

['₹1,29,990',
 '₹77,990',
 '₹86,990',
 '₹86,990',
 '₹57,310',
 '₹89,611',
 '₹89,990',
 '₹89,990',
 '₹96,990',
 '₹68,990',
 '₹19,990',
 '₹54,499',
 '₹30,990',
 '₹46,990',
 '₹1,39,363',
 '₹1,79,990',
 '₹41,990',
 '₹43,990',
 '₹51,990',
 '₹48,990',
 '₹1,35,409',
 '₹41,990',
 '₹41,990',
 '₹39,990',
 '₹39,990',
 '₹42,990',
 '₹46,990',
 '₹38,990',
 '₹2,94,895',
 '₹1,16,990']

In [108]:
core_i7_rating = driver8.find_elements_by_xpath("//a[@class='a-popover-trigger a-declarative']/span[1]")

#//li[@class='fleft grey-text br2 placeHolderLi date']/span[1]")

In [109]:
for c in core_i7_rating:
    rat=c.text
    Ratings.append(rat)

In [110]:
Ratings

[]

In [111]:
print(len(title_i7),len(Ratings),len(price))

30 0 30

In [114]:
df8 =pd.DataFrame({})
df8['Title'] =title_i7
df8['Price']= price
#df8['Ratings']=Ratings

In [116]:
df8.head(10)

                                               Title      Price
0  Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7...  ₹1,29,990
1  Mi Notebook Ultra 3.2K Resolution Display Inte...    ₹77,990
2  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    ₹86,990
3  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    ₹57,310
4  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...    ₹86,990
5  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...  ₹1,01,112
6  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    ₹89,990
7  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    ₹86,990
8  HP Pavilion 11th Gen Intel Core i7 Processor 1...    ₹89,990
9  (Renewed) Dell E6410 Latitude 14 Inch Screen L...    ₹19,990

# Q9. Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data

In [117]:
#lets first connect to the web driver
driver9 = webdriver.Chrome("C:\\Users\\hema\\OneDrive\\Documents\\chromedriver_win32\\chromedriver.exe")

In [118]:
driver9.get('https://www.ambitionbox.com/')

In [119]:
#click on the job option 

jobs = driver9.find_element_by_xpath("//a[@class='link jobs']").click()

In [120]:
#search the designation as data scientist
get_field =driver9.find_element_by_xpath("//input[@title='Enter Designation, Company or a Skill']")
get_field.send_keys("Data Scientist")

In [121]:
#click on the search button
search = driver9.find_element_by_xpath("//span[@class='ctas-btn-medium']")
search.click()

In [122]:
#find the location as 'Noida'

location9=driver9.find_element_by_xpath("//div[@title='Location']").click()

In [123]:
#search location as noida

#search_location = driver9.find_element_by_xpath("//div[@class='searchbox']'")
#search_location.send_keys('Noida')

url ='https://www.ambitionbox.com/jobs/search?tag=data%20analyst&location=Noida'

In [165]:
company_name=[]
No_of_days=[]
company_rating= []

In [127]:
comp =driver9.find_elements_by_xpath("//p[@class='company body-medium']")
comp

[<selenium.webdriver.remote.webelement.WebElement (session="7b8524c3e5aeab86803fae427318700e", element="04d5cf2b-c134-4c50-8328-2f15ad4ff53b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b8524c3e5aeab86803fae427318700e", element="20f46f22-123c-4cf3-8c5a-cb6f0fc96b3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b8524c3e5aeab86803fae427318700e", element="714c0327-387e-459f-be93-94ff6e53a9d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b8524c3e5aeab86803fae427318700e", element="2fc0bbfe-4191-4908-a2da-41f92ed07517")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b8524c3e5aeab86803fae427318700e", element="0b0147e6-f8c5-43a9-803f-944de7d5c7be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b8524c3e5aeab86803fae427318700e", element="ac3361a6-ca13-487a-8137-a1d6bdce589c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b8524c3e5aeab86803fae427318700e", element="74a1cac4-b60e-45ae-862b-aef62195feaa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b8524c3e5aeab86803fae427318700e", element="98447d69-4097-48b0-a46e-02e88fcc9a8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b8524c3e5aeab86803fae427318700e", element="725b6043-eb4f-40ae-8058-a5cd0dbcf272")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b8524c3e5aeab86803fae427318700e", element="9509dc05-c15d-4132-a03a-1d636cb42b1d")>]

In [128]:
for i in comp:
    comp1=i.text
    company_name.append(comp1)

In [129]:
company_name

['TOTAL MARKETING SUPPORT INDIA PRIVATE LIMITED',
 'Rupeek',
 'NIRVANA SOLUTIONS INDIA PRIVATE LIMITED',
 'Pramerica Life',
 'KOZENT TEC PRIVATE LIMITED',
 'Concentrix Services India Private Limited.',
 'Info Edge India',
 'Also Energy',
 'Redian Software Pvt Ltd',
 'IB Monotaro Private Limited',
 'West Wind Retail Pvt. Ltd.',
 'AMERICAN EXPRESS',
 'Fareportal',
 'Protiviti Consulting',
 'CarDekho',
 'Optum',
 'D2 Retro',
 'Contactx India',
 'Porteck India Infoservices',
 'doubledutch',
 'GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'Tech Mahindra Ltd',
 'GENPACT India Private Limited',
 'HCL Technologies',
 'Bristlecone India Limited',
 'Zyoin',
 'Newgen Software Technologies Ltd.',
 'Pitney Bowes India Pvt Ltd',
 'JK Technosoft Ltd']

In [142]:
comp-rating=driver9.find_elements_by_xpath("//div[@class='rating-wrapper']")

SyntaxError: cannot assign to operator (<ipython-input-142-2e3882e42376>, line 1)

In [138]:
comp-exp=driver9.find_element_by_xpath("//p[@class='body-small-l']")

SyntaxError: cannot assign to operator (<ipython-input-138-a14fc9a8c46c>, line 1)

# Q 10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [156]:
#lets first connect to the web driver
driver10 = webdriver.Chrome("C:\\Users\\hema\\OneDrive\\Documents\\chromedriver_win32\\chromedriver.exe")

In [157]:
driver10.get('https://www.ambitionbox.com/')

In [158]:
#click on the salary option 

jobs = driver10.find_element_by_xpath("//a[@class='link salaries']").click()

In [159]:
#search the designation as data scientist
get_field =driver10.find_element_by_xpath("//input[@title='Enter a Company or Designation']")
get_field.send_keys("Data Scientist")

In [160]:
#click on the search button
search = driver10.find_element_by_xpath("//button[@class='ab_btn search-btn round component-search-btn']")
search.click()

In [154]:
#url ="https://https://www.ambitionbox.com/salaries"

In [169]:
title_name=[]
total_salary_record=[]
average_salary=[]
minimum_salary=[]
Maximum_salary=[]
experience =[]

In [170]:
tit = driver10.find_elements_by_xpath("//a[@class='gs-title']")

In [171]:
tit

[<selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="02cbafce-759e-4910-882f-855dbbd2208a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="dd0f8530-ce1b-4600-b795-5fd9e5b299c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="e5f2927b-535d-4a3c-ac3e-79a475b6d026")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="194cf6ba-8b8c-4d9b-9b27-452573d96f4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="4990e33c-5161-4621-bc08-7efe5851898f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="dd531d9d-7c6d-4fb1-a123-00e831b22544")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="25fe5edb-483b-4633-9a7d-ae428ef168b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="beba30ac-272e-4cc3-9f96-14f273549fd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="d8ed68e2-e54a-4b61-aac7-28ed890716e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="81f3e95d-a6a8-4a39-8d91-0bce74ee08cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="98f98b12-8091-48b3-9812-f34ffeb64962")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="70a7e16a-83d1-4b33-a555-1e61eee443f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="24ccdf55-e02b-44ca-84de-4ae27dcee8ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="5d5fbc1c-9ca5-43f0-ae1e-6bc873634e87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="1445859e-b8b0-451b-9961-f5188e37d40b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="12d53b2d-e0c7-4112-86ae-e352ab841e02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="9dd8dbed-0f7a-4ea0-89da-a8268fc6a251")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="c7d99d85-1699-49eb-9dbd-58b8ae8239ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="f3a6180f-803e-4454-b68c-93468cf6cade")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="2e473e52-caac-4e9d-a790-afc1bc33ffd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="ccfaa2e1-992c-4411-be7c-188f16865131")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="9f8ef8a1-fb78-46e9-8150-b2eb4e4071f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a371d49f936e0b54e399cda6a21a540e", element="1cc53ea6-4d58-4c70-8d12-b5a8df79112b")>]

In [174]:
for i in tit:
    comp1=i.text
    title_name.append(comp1)

In [175]:
title_name

['Lead Data Scientist Salary in India | AmbitionBox',
 '',
 'Data Scientist Salary in Bengaluru/Bangalore | AmbitionBox',
 '',
 'Senior Data Scientist Salary in India | AmbitionBox',
 '',
 'Concentrix Corporation Data Scientist Salaries in India | AmbitionBox',
 '',
 'Cyient Insights Data Scientist Salaries in India | AmbitionBox',
 '',
 'Verizon Data Scientist Salaries in India | AmbitionBox',
 '',
 'HERE Technologies Lead Data Scientist Salaries in India ...',
 '',
 "Lowe's Data Scientist Salaries in India | AmbitionBox",
 '',
 'Indegene Data Scientist Salaries in India | AmbitionBox',
 '',
 'Data Scientist Salary in Gurgaon/Gurugram | AmbitionBox',
 '',
 '',
 '',
 '',
 'Lead Data Scientist Salary in India | AmbitionBox',
 '',
 'Data Scientist Salary in Bengaluru/Bangalore | AmbitionBox',
 '',
 'Senior Data Scientist Salary in India | AmbitionBox',
 '',
 'Concentrix Corporation Data Scientist Salaries in India | AmbitionBox',
 '',
 'Cyient Insights Data Scientist Salaries in India | AmbitionBox',
 '',
 'Verizon Data Scientist Salaries in India | AmbitionBox',
 '',
 'HERE Technologies Lead Data Scientist Salaries in India ...',
 '',
 "Lowe's Data Scientist Salaries in India | AmbitionBox",
 '',
 'Indegene Data Scientist Salaries in India | AmbitionBox',
 '',
 'Data Scientist Salary in Gurgaon/Gurugram | AmbitionBox',
 '',
 '',
 '',
 '']